<h1>&lt;ng-generate-table&gt;</h1>
<h2>Simple</h2>
<ng-generate-table [columns]="columns" [data]="data"></ng-generate-table>
<hr>
<h2>Manual &lt;thead&gt;/&lt;tbody&gt;/&lt;tfoot&gt;</h2>
<ng-generate-table [columns]="columnsManualTags" [data]="data">
    <thead position="top" style="background-color: mistyrose;">
        <tr>
            <th colspan="6">Manual &lt;thead&gt; (top)</th>
        </tr>
    </thead>
    <thead position="bottom" style="background-color: mistyrose;">
        <tr>
            <th colspan="6">Manual &lt;thead&gt; (bottom)</th>
        </tr>
    </thead>
    <tbody position="top" style="background-color: gainsboro;">
        <tr>
            <td colspan="6">Manual &lt;tbody&gt; (top)</td>
        </tr>
    </tbody>
    <tbody position="bottom" style="background-color: gainsboro;">
        <tr>
            <td colspan="6">Manual &lt;tbody&gt; (bottom)</td>
        </tr>
    </tbody>
    <tfoot style="background-color: beige;">
        <tr>
            <td colspan="6">Manual &lt;tfoot&gt;</td>
        </tr>
    </tfoot>
</ng-generate-table>
<hr>
<h2>add class e pipes</h2>
<ng-generate-table [columns]="columnsClassAndPipe" [data]="data"></ng-generate-table>
<hr>

<h1>&lt;ng-dd-file&gt;</h1>
<ng-dd-file [filesIn]="filesIn" (filesOut)="filesOut($event)" (fileRemove)="filesIn = []" [multiple]="true" [btnClass]="{ file: 'text-red' }"></ng-dd-file>